body {
    background: url('https://portagame.ru/katalog/game/switch-game/nswitch-fifa19_1.jpg') no-repeat center fixed;;
    }
    
.nav a {
        color: #ffffff;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    