
body {
    background: url('https://portagame.ru/katalog/game/switch-game/nswitch-fifa19_1.jpg') no-repeat center fixed;;
    }
    
    .contact {
        position:static;
      text-align: center;
      
    }
    
        
    .contact a {
        display: inline-block;
        height: 100px;
        width: 100px;
        background: #ffffff;
        margin: 10px;
        border-radius: 30%;
        text-align: center;
        }
        
    .contact a i {
        color: #11cc00;
        font-size: 40px;
        margin-top: 30px;
        }
        
    .contact a:hover {
        background: #05e93e;
        transition: 1s;
        }
        
    .contact a:hover i {
        color: #f1f1f1;
        transition: 1s;
        transform: scale(1.3);
        }

.nav a {
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    position: relative;
    margin-top:40px;
    left: 0; bottom: 0; 
    width: 100%;
    overflow: hidden;
        background-color:rgba(0,0,0,.6);
}

.container {
    margin-top: 80px;
}